        <table border="2">
    		<thead>
    			<th ng-click="sortData('year')"><a href="">Year</a><div ng-class="getSortClass('year')"></div></th>
    		    <th ng-click="sortData('under500')"><a href=""> Over 500 </a><div ng-class="getSortClass('under500')"></div></th>
                <th ng-click="sortData('above500')"><a href=""> Under 500 </a><div ng-class="getSortClass('above500')"></div></th>
    			<th>Edit / Delete</th>
    		</thead>
    		<tr ng-repeat="x in temp | datafilter:s:e | orderBy:sortColoumn:reverseSort">
    			<td>{{x.Year}}</td>
    			<td>{{x.Over}}</td>
    			<td>{{x.Under}}</td>
    			<td>
                    <button class="btn btn-danger" ng-click="edit(x)">Edit</button><br>
                    <button class="btn btn-warning" ng-click="remove(x.Year)">Delete</button>
                </td>
    		</tr>
    	</table>

        <span ng-repeat="page in pagination" ><button ng-model="page" ng-click="select(page)">{{page}}</button></span>